/*
Aleksandr Shelukheev - 301137921
Egor Shevchenko - 301084181
*/

.signin-error-list{
	margin:0;
	padding:0;
	list-style-type:none;
}

.signin-error-list li a{
	text-decoration:none;
	display:block;
	padding: 14px 16px;
	text-align:center;
}

.signin-error-list li a:hover {
  background-color: var(--generalcolor);
  color:white;
}